*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main-header{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    position: sticky;
    top: 0px;
    z-index: 999;

}
#header{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns:1.5fr 1fr 1fr 1fr 2fr 1fr 1.5fr 5fr 1fr 1fr 1fr ;
    grid-template-areas: 'header1 header2 header3 header4 header5 header6 header7 header8 header9 header10 header11';
}

.header-one{
    
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
}
#header1{
    grid-area: header1;
    text-align:right;
}
#myntra-logo{
    width: 49px;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
    

}
#header2{
    grid-area: header2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#header3{
    grid-area: header3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#header4{
    grid-area: header4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#header5{
    grid-area: header5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#header6{
    grid-area: header6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#header7{
    grid-area: header7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#header8{
    grid-area: header8;
    
    padding: 11px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#header8-box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 4px;
    cursor: pointer;
    
}
#sarch-box{
  margin-left: 10px;
  width: 80%;
  height:30px;
  outline: none;
  background-color: whitesmoke;
  border:none;
  padding: 5px 10px;
  font-size: 17px;
  cursor: pointer;
    
}
#header9{
    grid-area: header9;
    text-align: center;
    cursor: pointer;
    
    
}
#header10{
    grid-area: header10;
    text-align: center;
    cursor: pointer;
    
}
#header11{
    grid-area: header11;
    text-align: center;
    cursor: pointer;
    
}
.nav-profile-wihlist-cart{
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
    
}
/* ===========================Second /// third header ===================*/
#main-content-container{
    background-color: whitesmoke;
    height: 124px;
    position: relative;
}
.opacity{
    opacity: 0.4;

}
.second-third-header{
    width: 100%;
    height: 40px;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    padding-left: 45px;
    background-color: whitesmoke;
}
#third-header{
    display: grid;
    grid-template-columns: 3fr 1.3fr 2.3fr 1.3fr 10fr;
    grid-template-areas: 'third1 third2 third3 third4 third5';
    width: 100%;
    height: 40px;
    margin-top: 5px;
    position: absolute;
    top: 78px;
    
}

.buttons1{
    border: 1px solid transparent;
    padding: 5px 12px;
    background-color: white;
    text-align: center;
    border-radius: 29px;
    cursor: pointer;
    
}
.buttons2{
    border: 1px solid transparent;
    padding: 5px 4px;
    background-color: white;
    text-align: center;
    border-radius: 29px;
    cursor: pointer;
    
}
.buttons3{
    border: 1px solid transparent;
    padding: 5px 9px;
    background-color: white;
    text-align: center;
    border-radius: 29px;
    width: 80px;
    cursor: pointer;
    
}
.buttons1:hover{
    background-color: rgba(128, 128, 128, 0.24);
    cursor: pointer;
}
.buttons2:hover{
    background-color: rgba(128, 128, 128, 0.288);
    cursor: pointer;
}
.buttons3:hover{
    background-color: rgba(128, 128, 128, 0.329);
    cursor: pointer;
}

#third-header1{
    grid-area: third1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#third-header2{
    grid-area: third2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#third-header3{
    grid-area: third3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#third-header4{
    grid-area: third4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#third-header5{
    grid-area: third5;
    display: flex;
    justify-content: end;
    align-items: center;
}
#recommended{
    border: 0.12px solid black;
    padding: 2px 10px;
    width: 250px;
    height: 38px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.11);
    cursor: pointer;
    
}
#sortby-text{
    margin-top: 8px;
    cursor: pointer;
    
}
/* =======================================Content=================== */
#hero-content{
    width: 100%;
    height:600px;
    display: grid;
    grid-template-columns:3fr 14.9fr;
    grid-template-areas:'hero1 hero2';
}
#hero-content-1{
    grid-area: hero1;
    border: 1px solid rgb(167, 167, 167);
    background-color: rgba(128, 128, 128, 0.075);
    
}
#hero-content-2{
    grid-area: hero2;
    border: 1px solid rgb(184, 184, 184);
    background-color: rgba(128, 128, 128, 0.075);
}
/* ================ */
#radio1{
    
    padding: 18px 50px;
    font-size: 20px;
    border: 0.1px solid gray;
    width: 100%;
    height: 130px;
    cursor: pointer;
    
}
/* ===========checkbox */
#checkbox{
    padding: 18px 50px;
    font-size: 20px;
    border: 0.1px solid gray;
    width: 100%;
    height: 210px;
    cursor: pointer;
    

}
/* ===checkbox2 */
#checkbox2{
    padding: 18px 10px 18px 50px;
    font-size: 20px;
    border: 0.1px solid gray;
    width: 100%;
    height: 230px;
    cursor: pointer;
    
    

}
#checkbox3{
    padding: 18px 10px 0px 50px;
    font-size: 17px;
    border: 0.1px solid gray;
    width: 100%;
    height: 130px;
    cursor: pointer;
    
    

}
/* ====== hero Content 2 */

#hero-first-row{
    grid-template-columns:2fr 2fr 2fr 2fr;
    display: grid;
    grid-template-areas: 'row1 row2 row3 row4';
    height: 370px;
    grid-column-gap: 30px;
    padding-top: 30px;

}
#row1{
    grid-area: row1;
    padding: 2px 30px 2px 30px;
    background-color: white;
}
#row2{
    grid-area: row2;
    padding: 2px 30px 2px 30px;
    background-color: white;
}
#row3{
    grid-area: row3;
    padding: 2px 30px 2px 30px;
    background-color: white;
}
#row4{
    grid-area: row4;
    padding: 2px 30px 2px 30px;
    background-color: white;
}
/* ================hero content 2 row2 */

#hero-first-row2{
    grid-template-columns:2fr 2fr 2fr 2fr;
    display: grid;
    grid-template-areas: 'row5 row6 row7 row8';
    height: 370px;
    grid-column-gap: 30px;
    padding-top: 30px;

}
#row5{
    grid-area: row5;
    padding: 2px 30px 2px 30px;
    background-color: white;
}
#row6{
    grid-area: row6;
    padding: 2px 30px 2px 30px;
    background-color: white;
}
#row7{
    grid-area: row7;
    padding: 2px 30px 2px 30px;
    background-color: white;
}
#row8{
    grid-area: row8;
    padding: 2px 30px 2px 30px;
    background-color: white;

}
/* =======images==== */
.images{
    width: 100%;
    height:240px;


}
.images-size{
    width: 100%;
    height: 100%;
    cursor: pointer;
    
}
.tex1{
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
    
}
.tex2{
    font-weight: 100;
    font-size: 14px;
    color: rgba(128, 128, 128, 0.719);
    cursor: pointer;
    
    
}
.tex3{
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
    
}
.tex4{
    color: red;
    font-weight: 200;
    cursor: pointer;
    
}
/* ======= */
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}
ul li ul#dropdown li{
    display: block;
}
ul li ul#dropdown{
    width: 100%;
    background-color:rgba(197, 195, 195, 0.5);
    position: absolute;
    height: 200px;
    z-index: 999;
    display: none;
    overflow-y: scroll;
}
ul li a:hover{
    background-color:rgb(255, 255, 255);
    color: black;
}
ul li:hover ul#dropdown{
    display: block;
}